<app-navbar></app-navbar>

<div class="mt-2 container-fluid card">
  <div class="my-2 d-flex flex-row">
    <div *ngIf="boardDetails" class="card-body">
      <h4
        class="card-title"
        [id]="'boardHeading-' + boardDetails.id"
        (dblclick)="showBoardHeadingEdit(boardDetails.id, boardDetails.name)"
      >
        {{ boardDetails.name }}
      </h4>
      <form
        [formGroup]="boardHeadingForm"
        [id]="'boardform-' + boardDetails.id"
        style="display: none"
      >
        <div>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [id]="'boardinput-' + boardDetails.id"
            (blur)="editBoardHeading(boardDetails.id)"
          />
          <em *ngIf="boardHeadingForm.get('name')?.invalid" style="color: red"
            >Please enter a valid name</em
          >
        </div>
      </form>
      <p class="card-text">
        {{
          boardDetails.description !== ""
            ? boardDetails.description
            : "No description"
        }}
      </p>
    </div>

    <div class="card-body">
      <h4 class="card-title">Members</h4>
      <div *ngIf="members && members.length > 0; else elseMember">
        <p
          type="button"
          *ngFor="let member of members; let index = index"
          class="card-text mb-2"
        >
          {{ index + 1 }}. {{ member.username }}
        </p>
      </div>
    </div>

    <ng-template #elseMember>
      <p class="card-text mb-2">No members have been added</p>
    </ng-template>

    <div class="card-body">
      <h4 class="card-title">Admin</h4>
      <p type="button" class="card-text mb-2">
        {{ username }}
      </p>
    </div>
  </div>

  <div class="card-body">
    <h4 class="card-title">Activity lists</h4>
  </div>

  <app-activity-item [boardAdmin]="boardDetails?.userId"></app-activity-item>
</div>
