<div
  id="addActivity"
  type="button"
  class="card-body"
  (click)="showAddActivity()"
>
  <i class="bi bi-plus-lg"></i> Add another list
</div>

<form
  id="addActivityForm"
  [formGroup]="addActivityForm"
  (ngSubmit)="onSubmit()"
  style="display: none"
  class="card-body p-2"
>
  <input
    id="addInput"
    formControlName="name"
    type="text"
    class="form-control p-2 mb-2"
  />
  <em *ngIf="addActivityForm.get('name')?.invalid && display" style="color: red"
    >Please enter a valid activity name</em
  >
  <div class="d-flex flex-row justify-content-start">
    <button id="submitActivity" class="btn btn-sm btn-primary me-3" (click)="onSubmit()">
      Add list
    </button>
    <span type="button" style="font-size: 1.3rem" (click)="onCancel()"
      ><i class="bi bi-x-lg"></i
    ></span>
  </div>
</form>
