<div
  [style.width.px]="componentWidth"
  [style.marginLeft.px]="matginLeft"
  class="component-width"
>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/dashboard"
              >Admin</a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Projects
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  *ngFor="let project of projects"
                  [id]="project.id"
                  routerLink="/project/{{ project.id }}"
                  ><strong> {{ project.name }} </strong>
                  {{ project.project_admin === project_admin ? "(Admin)" : "" }}
                </a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#addProject"
                >
                  Add new Project
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="d-flex">
          <div class="mx-5 d-flex flex-row justify-content-center">
            <span class="mx-4">{{ userName }}</span>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle p-0"
                  id="navbarDarkDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Dropdown
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-dark"
                  aria-labelledby="navbarDarkDropdownMenuLink"
                >
                  <li><a class="dropdown-item">Action</a></li>
                  <li><a class="dropdown-item">Another action</a></li>
                  <li>
                    <a class="dropdown-item">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<app-sidebar></app-sidebar>

<app-add-project (getProject)="getProject(project_admin)"></app-add-project>

<router-outlet></router-outlet>
