<!-- Modal -->
<div
  class="modal fade"
  id="addPriority"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="addPriorityLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div
        class="modal-header mb-2"
        style="background-color: #233241; color: #fff"
      >
        <div>
          <h4 class="modal-title d-block" id="addWorkspaceLabel">
            Add priority
          </h4>
          <p class="d-block m-0">Update this task's priority here.</p>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onCancel()"
        ></button>
      </div>
      <form [formGroup]="addPriorityForm">
        <div class="container">
          <div class="mb-3">
            <strong for="priorityId" class="form-label">Priority</strong>
            <select
              id="priorityId"
              formControlName="priorityId"
              class="form-select"
              aria-label="Default select example"
            >
              <option selected disabled value="select">Choose...</option>
              <option
                *ngFor="let priority of priorityList"
                [value]="priority.id"
              >
                {{ priority.name }}
              </option>
            </select>
            <em
              *ngIf="addPriorityForm.get('priorityId')?.invalid && display"
              style="color: red"
              >Please choose proirity</em
            >
          </div>
        </div>
        <div class="modal-footer" style="background-color: #233241">
          <button
            #modalclose
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            (click)="onCancel()"
          >
            Close
          </button>
          <button type="button" class="btn btn-success" (click)="onSubmit()">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
