<app-navbar></app-navbar>

<div
  [style.width.px]="componentWidth"
  [style.marginLeft.px]="matginLeft"
  class="container-fluid card my-2 d-flex flex-row component-width"
>
  <div *ngIf="projectDetails" class="card-body">
    <h4
      class="card-title"
      [id]="'h-' + projectDetails.id"
      (dblclick)="showHeadingEdit(projectDetails.id, projectDetails.name)"
    >
      {{ projectDetails.name }}
    </h4>
    <form
      [formGroup]="projectHeadingForm"
      [id]="'form-' + projectDetails.id"
      style="display: none"
    >
      <div>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          [id]="'input-' + projectDetails.id"
          (blur)="editHeading(projectDetails.id)"
        />
        <em *ngIf="projectHeadingForm.get('name')?.invalid" style="color: red"
          >Please enter a valid name</em
        >
      </div>
    </form>
    <h6 class="card-subtitle mb-4 text-muted">
      {{ projectDetails.project_type.type }}
    </h6>
    <p class="card-text">
      {{
        projectDetails.description !== ""
          ? projectDetails.description
          : "No description"
      }}
    </p>
    <a
      type="button"
      class="card-link"
      data-bs-toggle="modal"
      data-bs-target="#addBoard"
      *ngIf="projectDetails.project_admin === project_admin"
      >Add new Board</a
    >
    <a
      type="button"
      class="card-link"
      data-bs-toggle="modal"
      data-bs-target="#addMember"
      *ngIf="projectDetails.project_admin === project_admin"
      >Add member</a
    >
  </div>

  <div class="card-body">
    <h4 class="card-title mb-2">Your boards</h4>
    <div *ngIf="boards.length > 0; else elseBoard">
      <p
        type="button"
        *ngFor="let board of boards; let index = index"
        class="card-text mb-2"
      >
        {{ index + 1 }}.
        <a routerLink="/project/{{ projectDetails.id }}/board/{{ board.id }}">
          {{ board.name }}</a
        >
      </p>
    </div>
  </div>

  <ng-template #elseBoard>
    <p class="card-text mb-2">No boards have been added</p>
  </ng-template>

  <!-- <div class="card-body">
    <h4 class="card-title">Members</h4>
    <div *ngIf="members && memberLists.length > 0; else elseMember">
      <div>
        <p
          *ngFor="let member of memberLists; let index = index"
          class="card-text mb-2"
        >
          {{ index + 1 }}. {{ member.username }}
          <i
            *ngIf="projectDetails.project_admin === project_admin"
            type="button"
            class="bi bi-x-square-fill text-danger"
            (click)="
              removeMember(
                member.id,
                member.username,
                projectDetails.project_admin,
                projectDetails.id
              )
            "
          ></i>
        </p>
      </div>
    </div>
  </div> -->

  <ng-template #elseMember>
    <p class="card-text mb-2">No members have been added</p>
  </ng-template>

  <div class="card-body">
    <h4 class="card-title">Admin</h4>
    <p type="button" class="card-text mb-2">
      {{ username }}
    </p>
  </div>
</div>

<app-add-board
  [projectId]="id"
  (getboard)="getboard(project_admin, id)"
></app-add-board>

<app-add-member
  [projectId]="id"
  [addedMembers]="members"
  [members]="membersDrop"
  (getProjectDetails)="getProjectDetails(id)"
  (fetchUserList)="fetchUserList()"
></app-add-member>
