.dashboard {
    background-color: #f5f5f5;
}

.project-list {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: #d2e0fb;
    
    .project {
        background-color: #ffeecc;
        border: none;

        &:hover {
            background: linear-gradient(to right, #ffeecc, darken(#ffeecc, 10%));
        }
    }
}