.scroll {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.scroll-item {
    display: inline-flex;
    white-space: normal;
    word-break: break-all;
    max-width: 22rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
